<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=no, width=device-width">
    <link rel="icon" href="//s.591.com.tw/build/lib/favicon.ico">
    <title>台灣領先的房地產交易資訊平台,新建案,中古屋,租屋 - 591房屋交易網</title>
    <script>
      (function (doc, win) {
        let docEl = doc.documentElement
        let resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize'
        let recalc = function () {
          var clientWidth = docEl.clientWidth
          if (!clientWidth) return
          if (clientWidth >= 750) {
            docEl.style.fontSize = '100px'
          } else {
            docEl.style.fontSize = 100 * (clientWidth / 750) + 'px'
          }
        }
        if (!doc.addEventListener) return
        win.addEventListener(resizeEvt, recalc, false)
        doc.addEventListener('DOMContentLoaded', recalc, false)
        recalc()
      })(document, window)
    </script>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
