
<template>
  <div class="home">
    <!-- 公共头部组件 -->
    <Header/>

    <!-- 搜索处理 -->
    <div class="home-search">
      <div
        class="com-search"
        :class="{ 'active': isShowInput }"
        @click="searchFun(true)"
      >
        {{searchTxt}}
      </div>
    </div>

    <!-- 筛选组件 -->
    <FilterList @getList="getList"/>

    <!-- 数据展示组件 -->
    <DataList ref="listChild"/>

    <!-- 搜索组件 -->
    <Search
      :isShow="searchBox"
      @getList="getList"
      @hideSearch="searchFun"
    />

    <!-- 置顶组件 -->
    <Topping/>

  </div>
</template>

<script>

/*
 * @Description: 租屋页面展示
 * @Author: Jino
 * @Date: 2020-06-01 16:41:16
 * @LastEditors: Jino
 * @LastEditTime: 2020-06-15 11:39:45
 */
import Header from './../components/Header.vue';
import FilterList from './../components/Filter.vue';
import Search from './../components/Search.vue';
import DataList from './../components/DataList.vue';
import Topping from './../components/Topping.vue';

import { getQueryValue, changeUrl } from './../utils/index';

export default {
  components:{
    Header,
    FilterList,
    Search,
    DataList,
    Topping
  },
  data () {
    return {
      searchTxt: '', // 搜索框的文字
      isShowInput: false, // 有搜索记录的时，输入框中文字样式变化
      searchBox: false // 是否显示搜索框
    }
  },
  created(){
    this.showSearchTxt();
  },
  methods:{
    /**
     * 请求数据
    */
    getList (obj) {
      // 改变url
      changeUrl(obj);
      // 更新当前输入框的值
      this.showSearchTxt(); 
      // 请求数据
      this.$refs.listChild.init();
    },
    /**
     * 点击后是否展示搜索框
    */
    searchFun (bool) {
      this.searchBox = bool;
    },
    /**
     * 搜索框文字处理
    */
    showSearchTxt () {
      let search = getQueryValue('keywords');
      this.isShowInput = !!search;
      this.searchTxt = search || '請輸入社區、街道、捷運名稱、商圈、編號';
    }
  }
}
</script>
<style lang="less" scoped>

// 搜索框的样式
.home-search {
  padding: .2rem .4rem;

  & > div {
    display: block;
    padding-left: .6rem;
    line-height: .56rem;
    color: #b3b6be;
    
    &.active {
      color: #333;
    }
  }
}
</style>