
<template>
  <div
    class="filter-address"
    :class="{ 'active': isHideRight}"
    v-if="isShow"
  >

    <!-- 左边类型显示区分 -->
    <div class="address-left">
      <ul class="address-list">
        <li
          class="list-item active-opacity"
          :class="{ 'active': (leftIdx === 1) }"
          @click="onToggleAd(1)"
        >
          區域
        </li>
        <li
          class="list-item active-opacity"
          :class="{ 'active': (leftIdx === 2) }"
          @click="onToggleAd(2)"
        >
          捷運
        </li>
      </ul>
    </div>

    <!-- 中间内容显示区分，也就是市级显示 -->
    <div class="address-center" id="addressCenterParent">
      <ul class="address-list">
        <li
          v-for="(item) in addressCenter"
          class="list-item active-opacity"
          :class="{ 'active': (centerIdx === item.id) }"
          :key="item.id"
          @click="onToggleCenter(item)"
        >
          {{item.txt}}
        </li>
      </ul>
    </div>

    <!-- 右边内容显示区分，也就是县级显示 -->
    <div class="address-right" id="addressRightParent">
      <ul class="address-list">
        <li
          v-for="(item) in addressRight"
          class="list-item active-opacity"
          :class="{ 'active': (rightIdx === item.id) }"
          :key="item.id"
          @click="onToggleRight(item)"
        >
          {{item.txt}}
        </li>
      </ul>
    </div>
    
  </div>
</template>

<script>
/*
 * @Description: 筛选地址区分
 * @Author: Jino
 * @Date: 2020-06-08 17:49:11
 * @LastEditors: Jino
 * @LastEditTime: 2020-06-15 11:23:19
 */

import { Region } from './../assets/js/region';
import { Section } from './../assets/js/section';
import { MetroPlane, Station } from './../assets/js/metro';
import { getQueryValue, setScrollIndex } from './../utils/index';

export default {
  components:{},
  props:{
    isShow: {
      type: Boolean,
      default: true // 默认不传为true显示，亦可通过传值来控制改组件显示/隐藏
    }
  },
  data(){
    return {
      leftIdx: 1, // 左边选择坐标
      addressCenter: Region, // 地址区域中间展示数据
      centerIdx: -1, // 中间选中的id
      addressRight: [], // 地址区域右边展示数据
      rightIdx: -1, // 右边选中坐标
      isHideRight: true, // 是否隐藏右边
    }
  },
  watch:{
    /**
     * 监听当前组件显示/隐藏的变化
    */
    isShow (newVal) { //n为新值,o为旧值;
      if(newVal){
        // 开始初始化
        this.init();

        // 获取当前选中元素的滚动条位置
        this.$nextTick(function(){
          // 市级元素
          let parentCenter = document.getElementById('addressCenterParent');
          let centerIndex = parentCenter.getElementsByClassName('active')[0];
          
          // 县级元素
          let parentRight = document.getElementById('addressRightParent');
          let rightIndex = parentRight.getElementsByClassName('active')[0];
          setScrollIndex(parentCenter,centerIndex);
          setScrollIndex(parentRight,rightIndex);
        });
      }
    }
  },
  methods:{
    /**
     * 切换左边筛选
     * params: {
     *  type: Number 1: 区域; 2: 捷运;
     * }
    */
    onToggleAd (type) {
      this.leftIdx = type;

      // 如果没有默认选择
      this.centerIdx = -1;
      this.isHideRight = true;

      // 区域筛选
      if(type === 1){
        this.addressCenter = Region;
      
      // 捷运筛选
      } else {
        this.addressCenter = MetroPlane;
      }
    },

    /**
     * 切换中间，也就是市区筛选
     * params: {
     *  item: Object 当前选中对象
     * }
    */
    onToggleCenter (item) {

      // 点击不限时的操作
      if(item.id == -1){
        let obj = {
          region: 0,
          regionid: 0
        }
        this.$emit('callBack',obj);
        this.centerIdx = -1;
        this.isHideRight = true;
        return;
      }
      this.centerIdx = item.id;
      this.rightIdx = -1;
      this.isHideRight = false;

      // 区域筛选
      if(this.leftIdx === 1){
        let nowSection = Section[item.id];

        // 添加对应的不限选项
        if(nowSection && nowSection[0].id !== -1){
          nowSection.unshift({
            id: -1,
            txt: "不限"
          })
        }
        this.addressRight = nowSection;

      // 捷运筛选
      } else { 
        this.addressRight = Station[item.id];
      }
    },

    /**
     * 切换右边，也就是县级筛选
     * params: {
     *  item: Object 当前选中对象
     * }
    */
    onToggleRight (item) {
      let obj = {};

      // 区域筛选
      if(this.leftIdx === 1){
        obj = {
          regionid: this.centerIdx,
          sectionidStr: item.id
        }
      
      // 捷运筛选
      } else {
        obj = {
          mrtstation: this.centerIdx, //捷运id
          mrtcoods: item.id, // 捷运二级id
          searchtype: 4,
          mrt: 1
        }
      }
      this.$emit('callBack',obj);
    },

    /**
     * 组件加载时初始化
    */
    init () {
      let regionid = getQueryValue('regionid'); // 市级id
      let sectionidStr = getQueryValue('sectionidStr'); // 县级id
      let mrtcoods = getQueryValue('mrtcoods'); // 捷运站台id
      let mrtstation = getQueryValue('mrtstation'); // 捷运线id

      // 如果存在已经选的区域值了
      if(regionid){
        this.leftIdx = 1;
        // 添加不限
        let nowSection = Section[regionid];
        if(nowSection && nowSection[0].id !== -1){
          nowSection.unshift({
            id: -1,
            txt: "不限"
          })
        }
        this.addressRight = nowSection;
        this.centerIdx = Number(regionid);
        this.isHideRight = false;
        // 同时存在县级id
        if(sectionidStr){
          this.rightIdx = Number(sectionidStr);
        } else {
          this.rightIdx = -1;
        }
      
      // 如果已经存在已经选的捷运站值了
      } else if(mrtcoods){
        this.leftIdx = 2;
        this.centerIdx = Number(mrtstation);
        this.rightIdx = Number(mrtcoods);
        this.isHideRight = false;
        this.addressRight = Station[mrtstation];
        this.addressCenter = MetroPlane;
      }
    }
  }
}
</script>
<style lang="less" scoped>
@import "~./../assets/less/lib.less";

// 地址筛选box样式
.filter-address {
  position: relative;
  display: flex;
  height: 100%;
  overflow: hidden;
  
  // 显示右边，有县级和市级都显示
  &>div {
    flex: .333;
    overflow-y: scroll;
  }

  // 只显示市级
  &.active {
    .address-left,.address-center {
      flex: .5;
    }
    .address-right {
      display: none;
    }
  }
  
}

// 区域筛选列表样式
.address-list {
  position: relative;
  width: 100%;

  .list-item {
    height: .88rem;
    line-height: .88rem;
    position: relative;
    text-align: center;

    &:not(:last-child):after {
      position: absolute;
      box-sizing: border-box;
      content: " ";
      pointer-events: none;
      right: 0;
      bottom: 0;
      left: 0;
      border-bottom: 1px solid #ebedf0;
      transform: scaleY(.5);
    }

    &.active {
      color: #f80;
    }

  }

}
</style>