
<template>
  <div class="filter-price" v-show="isShow">

    <!-- 价格列表展示 -->
    <div class="price-top">
      <ul class="price-list" id="parentPriceIndex">
        <li
          v-for="(item) in RentPrice"
          :key="item.txt"
          class="list-item active-opacity"
          :class="{ 'active': (priceIdx == item.id) }"
          @click="onPrice(item)"
        >
        {{item.txt}}
        </li>
      </ul>
    </div>

    <!-- 价格自定义展示 -->
    <div class="price-custom">
      <div>自定義</div>
      <input type="number" maxlength="6" placeholder="最小值" v-model="minPrice">
      <div>-</div>
      <input type="number" maxlength="6" placeholder="最大值" v-model="maxPrice">
      <div>元</div>
      <div class="price-btn active-opacity" @click="onPriceConfirm">確定</div>
    </div> 

  </div>
</template>

<script>

/*
 * @Description: 筛选租金组件
 * @Author: Jino
 * @Date: 2020-06-08 17:49:11
 * @LastEditors: Jino
 * @LastEditTime: 2020-06-15 11:55:54
 */

import { RentPrice } from './../assets/js/price';
import { getQueryValue, setScrollIndex, showTaost, getScreenPrice } from './../utils/index';

export default {
  props:{
    isShow: {
      type: Boolean,
      default: true // 默认不传为true显示，亦可通过传值来控制改组件显示/隐藏
    }
  },
  data(){
    return {
      RentPrice,
      priceIdx: -1, // 租金选中坐标
      minPrice: '', // 最小金额
      maxPrice: '', // 最大金额
    }
  },
  watch:{
    /**
     * 监听当前组件显示/隐藏的变化
     * newVal为新值,oldVal为旧值;
    */
    isShow (newVal) {
      if(newVal){
        this.init();
      }
    }
  },
  methods:{
    /**
     * 价格选择
     * params: {
     *  item: Object 当前选中对象
     * }
    */
    onPrice (item) {
      this.priceIdx = item.id;
      this.$emit('callBack',{
        price: item.id // price: '0_5000', // 租金价格 自定义格式：123$_2345$
      });
    },

    /**
     * 价格确定按钮
     * params: {
     *  item: Object 当前选中对象
     * }
    */
    onPriceConfirm () {
      if(!this.minPrice && !this.maxPrice){
        showTaost(`请输入最小值和最大值！`);
        return;
      }
      if(this.maxPrice && Number(this.minPrice) > Number(this.maxPrice)){
        showTaost(`最小值不能大於最大值！`);
        this.minPrice = '';
        return;
      }
      this.$emit('callBack',{
        price: this.minPrice + '$_' + this.maxPrice + '$'
      });
    },

    /**
     * 初始化
    */
    init () {

      // 价格初始
      let price = getQueryValue('price');
      if(price){
        let nowObj = getScreenPrice(price);
        this.priceIdx = nowObj.id // 租金选中坐标
        this.minPrice = nowObj.minPrice && nowObj.minPrice; // 最小金额
        this.maxPrice = nowObj.maxPrice && nowObj.maxPrice; // 最大金额
      }

      // 获取当前选中元素的滚动条位置
      this.$nextTick(function(){
        let parent = document.getElementById('parentPriceIndex');
        let curr = parent.getElementsByClassName('active')[0];
        setScrollIndex(parent,curr);
      })
    }
  }
}
</script>
<style lang="less" scoped>
@import "~./../assets/less/lib.less";

// 整体box
.filter-price {
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  display: flex;
}

// 价格列表box
.price-top {
  position: relative;
  display: flex;
  height: 100%;
  overflow: hidden;
}

// 价格列表展示
.price-list {
  flex: 1;
  text-align: center;
  overflow-y: scroll;
  .list-item {
    height: .88rem;
    line-height: .88rem;
    position: relative;
    &.active {
      color: #f60;
    }
    &:not(:last-child)::after {
      position: absolute;
      box-sizing: border-box;
      content: " ";
      pointer-events: none;
      right: 0;
      bottom: 0;
      left: 0;
      border-bottom: 1px solid #ebedf0;
      transform: scaleY(.5);
    }
  }
}

// 价格自定义组件
.price-custom {
  display: flex;
  border-top: 1px solid #efefef;
  padding: .1rem .2rem;
  height: .96rem;
  font-size: .28rem;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;

  &>input {
    height: .74rem;
    width: 1.6rem;
    box-sizing: border-box;
    border: 1px solid #e0e0e0;
    font-size: .28rem;
    color: #333;
    text-align: center;
    border-radius: .08rem;
    -webkit-appearance: none;
    &:focus {
      outline: none;
    }
  }

  .price-btn {
    width: 1.6rem;
    height: .6rem;
    border-radius: .08rem;
    color: #fff;
    background-color: #f60;
    text-align: center;
    line-height: .6rem;
  }

}
</style>