
<template>
  <div class="filter-more" v-show="isShow">
    <!-- 更多内容展示 -->
    <div class="fm-bd-scroll">

      <!-- 除了其他外的数据展示 -->
      <div class="fm-bd-list"
        v-for="(item) in MoreData"
        :key="item.name"
      >
        <div class="fm-bd-title">{{item.txt}}</div>
        <div class="row clearfix">
          <div
            class="col"
            v-for="(key) in item.data"
            :key="key.txt"
          >
            <div
              @click="onMoreToggle(key,item.name)"
              class="fm-bd-item active-opacity"
              :class="{ 'active': (moreObjData[item.name] == key.id) }"
            >{{key.txt}}</div>
          </div>
        </div>
      </div>

      <!-- 其他数据展示 -->
      <div class="fm-bd-list">
        <div class="fm-bd-title">其他</div>
        <div class="row clearfix">
          <div
            class="col"
            v-for="(item) in OthersData.data"
            :key="item.txt"
          >
            <div
              @click="onMoreToggle(item,OthersData.name)"
              class="fm-bd-item active-opacity"
              :class="{ 'active': (moreObjData[item.id] == 1) }"
            >
              {{item.txt}}
            </div>
          </div>
        </div>
      </div>

    </div>

    <!-- 操作按钮展示 -->
    <div class="more-btn">
      <div class="btn active-opacity" @click="onMoreReset">重置</div>
      <div class="btn active-opacity" @click="onMoreConfirm">确定</div>
    </div>

  </div>
</template>

<script>

/*
 * @Description: 筛选更多组件
 * @Author: Jino
 * @Date: 2020-06-08 17:49:11
 * @LastEditors: Jino
 * @LastEditTime: 2020-06-15 11:59:48
 */

import { MoreData, OthersData } from './../assets/js/other';
import { getRequest } from './../utils/index';

export default {
  components:{},
  props:{
    isShow: {
      type: Boolean,
      default: true // 默认不传为true显示，亦可通过传值来控制改组件显示/隐藏
    }
  },
  data(){
    return {
      moreObjData: {}, // 更多展示的數據
      MoreData, // 除其他外的数据
      OthersData // 其他的数据
    }
  },
  watch:{
    /**
     * 监听当前组件显示/隐藏的变化
     * newVal为新值,oldVal为旧值;
    */
    isShow (newVal) {
      if(newVal){
        this.init();
      }
    }
  },
  computed:{},
  methods:{
    /**
     * 更多切换选择、
     * params: {
     *  item: Object, // 当前选中的对象
     *  name: String // 当前选中的类型名
     * }
    */
    onMoreToggle (item,name) {
      
      // 其他选项
      if(name === 'others'){
        if( this.moreObjData[item.id] == 1){
          this.moreObjData[item.id] = -1;
        } else {
          this.moreObjData[item.id] = 1;
        }
      
      // 剩余的选项
      } else {
        (this.moreObjData[name] == item.id) ? (this.moreObjData[name] = -1) : (this.moreObjData[name] = item.id)
      }
      this.moreObjData = Object.assign({}, this.moreObjData);
    },

    /**
     * 更多重置按钮
    */
    onMoreReset () {
      for(let key in this.moreObjData){
        this.moreObjData[key] = -1;
      }
      this.moreObjData = Object.assign({}, this.moreObjData);
    },


    /**
     * 更多确认按钮
    */
    onMoreConfirm () {
      this.$emit('callBack',this.moreObjData);
    },

    /**
     * 初始化
    */
    init () {
      // 获取值方式取决于项目用了什么样的方式，目前我采用了url获取
      let allQuery = getRequest();
      this.moreObjData = {};

      // 遍历获取到数据
      for(let key in allQuery){
        let keyVal = allQuery[key];

        // 获取到对应的值
        if(
          key === 'room' || key === 'area' || key === 'shape' || key === 'newfloor' || key === 'source'
          || key === 'parking' || key === 'balcony_1' || key === 'pet' || key === 'cook' || key === 'ex_top_floor'
        ){
          this.moreObjData[key] = keyVal;
        }
      }
    }
  }
}
</script>
<style lang="less" scoped>
@import "~./../assets/less/lib.less";


// 更多box样式
.filter-more {
  flex-direction: column;
  overflow: hidden;
  display: flex;
  height: 9.6rem;
  background-color: #fff;

  .fm-bd-scroll {
    position: relative;
    height: 100%;
    overflow-y: scroll;
    padding-top: .3rem;

  }
  
}

// 列表展示样式
.fm-bd-list {
  padding-bottom: .06rem;
  margin-bottom: .3rem;
  padding: 0 .4rem;

  // 列表title样式
  .fm-bd-title {
    font-size: .36rem;
    font-weight: 700;
    margin-bottom: .3rem;
  }

  // 列表row样式
  .row {
    .flex(row,center,flex-start);
    flex-wrap: wrap;

    .col {
      padding-right: .35rem;
      &:nth-child(3n) {
        padding-right: 0;
      }
    }

    .fm-bd-item {
      height: .68rem;
      line-height: .68rem;
      text-align: center;
      border-radius: .04rem;
      box-sizing: border-box;
      width: 2rem;
      margin-bottom: .3rem;
      border: 1px solid #f5f5f5;
      background-color: #f5f5f5;
      &.active {
        border: 1px solid #ff8000;
        color: #ff8000;
        background-color: #faf5f2;
      }

    }

  }
  
  // 清除浮动
  .clearfix:after {
    display: block;
    content: "";
    clear: both;
    height: 0;
    visibility: hidden;
  }

}

// 按钮区分样式
.more-btn {
  display: flex;
  justify-content: space-around;
  padding: .15rem;
  background-color: #fff;

  .btn {
    height: .72rem;
    line-height: .72rem;
    text-align: center;
    border-radius: .04rem;
    box-sizing: border-box;
    width: 45%;
    color: #ff8000;
    background-color: #faf5f2;

    &:last-child {
      background-color: rgb(255, 128, 0);
      color: #fff;
    }

  }

}

</style>