<template>
  <div class="filter-type" v-show="isShow">

    <!-- 列表展示 -->
    <ul class="type-list" id="parentTypeIndex">
      <li
        v-for="(item) in KindData.data"
        :key="item.id"
        class="list-item active-opacity"
        :class="{ 'active': (typeIdx == item.id) }"
        @click="onType(item)"
      >
      {{item.txt}}
      </li>
    </ul>

  </div>
</template>

<script>

/*
 * @Description: 筛选类型组件
 * @Author: Jino
 * @Date: 2020-06-08 17:49:11
 * @LastEditors: Jino
 * @LastEditTime: 2020-06-15 11:53:16
 */ 

import { KindData } from './../assets/js/other';
import { getQueryValue, setScrollIndex } from './../utils/index';

export default {
  props:{
    isShow: {
      type: Boolean,
      default: true // 默认不传为true显示，亦可通过传值来控制改组件显示/隐藏
    }
  },
  data(){
    return {
      KindData,
      typeIdx: -1, // 类型选中坐标
    }
  },
  watch:{
    /**
     * 监听当前组件显示/隐藏的变化
     * newVal为新值,oldVal为旧值;
    */
    isShow (newVal) { 

      // 初始化
      if(newVal){
        this.typeIdx = getQueryValue('kind') || -1 ;
        // 获取当前选中元素的滚动条位置
        this.$nextTick(function(){
          let parent = document.getElementById('parentTypeIndex');
          let curr = parent.getElementsByClassName('active')[0];
          setScrollIndex(parent,curr);
        })
      }
    }
  },
  methods:{
    /**
     * 类型选择
     * params: {
     *  item: Object 当前选中的对象
     * }
    */
    onType (item) {
      this.typeIdx = item.id;
      this.$emit('callBack',{
        kind: item.id
      });
    }
  }
}
</script>
<style lang="less" scoped>
@import "~./../assets/less/lib.less";

// 筛选类型box样式
.filter-type {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

// 筛选列表样式
.type-list {
  flex: 1;
  text-align: center;
  overflow-y: scroll;

  .list-item {
    height: .88rem;
    line-height: .88rem;
    position: relative;
    
    &:not(:last-child)::after {
      position: absolute;
      box-sizing: border-box;
      content: " ";
      pointer-events: none;
      right: 0;
      bottom: 0;
      left: 0;
      border-bottom: 1px solid #ebedf0;
      transform: scaleY(.5);
    }

    &.active {
      color: #f60;
    }

  }

}
</style>