<!--
 * @Description: header 头部组件
 * @Author: Jeddy
 * @Date: 2020-06-01 16:59:49
 * @LastEditors: Jino
 * @LastEditTime: 2020-06-15 11:42:51
--> 
<template>
  <div class="header">
    <div class="header-left">
      <span class="left-icon"></span>
    </div>
    <div class="header-title">租屋</div>
    <div class="header-right"></div>
  </div>
</template>

<style lang="less" scoped>
@import "~./../assets/less/lib.less";

// header样式
.header {
  height: .88rem;
  background-color: #f6f6f6;
  color: #5a5a5a;
  color: #000;
  font-size: .36rem;
  .flex(row,center,space-between);
  padding: 0 .3rem;
  
  // header 返回样式
  .header-left {
    width: .8rem;
    height: 100%;
    display: flex;
    align-items: center;

    .left-icon {
      .setArrow();
    }
  }

  // header 中间标题样式
  .header-title {
    text-align: center;
    color: #000;
    font-size: .36rem;
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  // header 右边扩展样式
  .header-right {
    width: .8rem;
    height: 100%;
  }
}
</style>