

<template>
  <div class="search" v-show="isShow">

    <!-- 搜索input框 -->
    <form class="search-hd" @submit.prevent action="#">
      <input
        @keypress="onInputSearch"
        v-model="inputValue"
        type="input"
        placeholder="請輸入社區、街道、捷運名稱、商圈、編號"
        class="com-search"
        ref="myInput"
      >
      <div class="hd-cancel active-opacity" @click="cancelSearch">取消</div>
      <i class="com-clear active-opacity" v-show="isClear" @click="clearInput"></i>
    </form>

    <!-- 搜索 -->
    <div class="search-history">
      
      <!-- 有搜索历史记录时显示 -->
      <div class="history-title" v-show="historyData">
        <span>歷史搜索</span>
        <div class="active-opacity" @click="clearHistory">清空</div>
      </div>

      <!-- 历史记录 -->
      <ul class="history-list" v-show="historyData">
        <li
          class="list-li active-opacity"
          v-for="item in historyData"
          :key="item"
          @click="onSearch(item)"
        >
          <span>{{item}}</span>
        </li>
      </ul>

      <!-- 搜索后的记录 -->
      <ul class="history-list" v-show="searchData">
        <li
          class="list-li active-opacity"
          v-for="item in searchData"
          :key="item.title"
          @click="onSearch(item.title)"
        >
          <div v-html="showHightLight(item.title)"></div>
          <div>约<span class="li-red">{{item.num}}</span>间</div>
        </li>
      </ul>

      <!-- 没有记录时的缺省页 -->
      <div class="history-none" v-show="!searchData && !historyData">沒有任何搜尋記錄</div>

    </div>

  </div>
</template>

<script>

/*
 * @Description: 搜索组件
 * @Author: Jino
 * @Date: 2020-06-01 20:34:04
 * @LastEditors: Jino
 * @LastEditTime: 2020-06-15 11:46:11
 */

import { http } from './../utils/http';
import { getQueryValue, setStopScroll } from './../utils/index';

export default {
  props:{
    isShow: {
      type: Boolean,
      default: true // 默认不传为true显示，亦可通过传值来控制改组件显示/隐藏
    }
  },
  data(){
    return {
      isClear: false, // 是否显示清除按钮
      historyData: null, // 历史记录，同时控制是否显示历史记录 和 searchData 控制着缺省图
      searchData: null, // 搜索记录, 同时控制是否显示搜索记录 和 historyData 控制着缺省图
      timeout: null, // 定时器
      inputValue: '' // 当前搜索框中的值
    }
  },
  watch:{
    /**
     * 监听输入框值的变化
    */
    inputValue (curVal) {
      // 实现input连续输入，150ms内只发一次请求
      clearTimeout(this.timeout);
      if(curVal && curVal.length > 0) {
        this.isClear = true;
        this.timeout = setTimeout(() => {
          this.getSearchList(curVal);
        }, 150);
      } else {
        this.isClear = false;
        this.searchData = null;
        this.loadHistory();
      }
    },
    /**
     * 监听搜索组件是否显示
    */
    isShow (newVal) {
      if(newVal){
        this.historyData = null;
        this.searchData = null;
        setStopScroll();
        this.loadHistory();
        this.getFocus();
      } else {
        setStopScroll(1);
        this.onBlur();
      }
    }
  },
  methods:{
    /**
     * 监听input值得变化
    */
    onInputSearch (event) {
      let val = event.target.value;
      if (event.keyCode == 13) { //如果按的是enter键 13是enter 
        event.preventDefault(); //禁止默认事件（ios默认是换行） 
        // 开始搜索
        this.onSearch(val);
      }
    },

    /**
     * 清除input
    */
    clearInput () {
      this.inputValue = "";
    },

    /**
     * 清除历史记录
    */
    clearHistory () {
      localStorage.removeItem("history");
      this.historyData = null;
    },

    /**
     * 取消按钮
    */
    cancelSearch () {
      this.clearInput();
      this.$emit('hideSearch', false);
    },

    /**
     * 加载历史记录
    */
    loadHistory () {
      let hisArr = JSON.parse(localStorage.getItem('history'));
      if(hisArr && hisArr.length > 0){
        this.historyData = hisArr;
      }
    },

    /**
     * 店里历史记录列表搜索
    */
    onSearch (val) {
      let obj = {};

      // 开始搜索
      if(val !== ''){
        obj = {
          keywords: val
        };

        // 保存搜索记录在本地
        let nowHis = JSON.parse(localStorage.getItem("history"));
        let hisArr = [];
        if(nowHis){
          nowHis.push(val);
          // 数组去重
          let arr =new Set(nowHis);
          hisArr = Array.from(arr);
        } else {
          hisArr.push(val);
        }
        localStorage.setItem("history",JSON.stringify(hisArr));

      // 没有搜索记录时
      } else {
        obj = {
          keywords: -1
        }
      }
      
      // 调用父组件请求数据方法
      this.$emit('getList',obj);
      this.cancelSearch();
    },

    /**
     * 初始化input的值
    */
    showSearchTxt () {
      let search = getQueryValue('keywords');
      this.inputValue = search || '';
    },

    /**
     * 搜索高亮显示
    */
    showHightLight (text) {
      let reg = new RegExp(this.inputValue, 'ig');
      let index = text.search(reg);
      let len = this.inputValue.length;
      if (index > -1) {
        let word = text.substring(index, index + len);
        text = text.substring(0, index) + '<span style="color:#ff6600">' + word + '</span>' + text.substring(index + len, text.length)
      }
      return text;
    },

    /**
     * 获取输入框焦点
    */
    getFocus () {
      this.$nextTick(() => {this.$refs['myInput'].focus()});
      this.showSearchTxt();
    },

    /**
     * 失去输入框焦点
    */
    onBlur () {
      this.$nextTick(() => {this.$refs['myInput'].blur()});
    },

    /**
     * 当输入值时请求的数据
     * params:{
     *  query: 请求的值
     * }
    */
    async getSearchList (query) {
      let result = await http.get(`api/search/keywordsMatch?q=${query}&r=1&t=1&count=8&region_id=1&device=touch`);
      
      // 判断请求参数和当前输入框的值是否相等
      if (this.inputValue === query){
        if(result && result.data && result.data.length > 0){
          this.searchData = result.data;
          this.historyData = null;
        } else {
          this.searchData = null;
          this.loadHistory();
        }
      }
    }
  }
}
</script>
<style lang="less" scoped>
@import "~./../assets/less/lib.less";

// 搜索box的样式
.search {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  font-size: .28rem;
  background-color: #fff;
}

// 搜索顶部框的样式
.search-hd {
  display: flex;
  position: relative;
  padding: .13rem .2rem;
  align-items: center;
  padding-right: .3rem;

  .com-search {
    flex: 1;
    height: .56rem;
    padding: .1rem 0 .1rem .6rem;
    line-height: .36rem;
    color: #222;
  }

  .hd-cancel {
    padding-left: 0.3rem;
  }
}

// 有历史记录title的样式
.history-title {
  display: flex;
  justify-content: space-between;
  padding: .3rem;
  color: #999;
  font-size: .28rem;
}

// 列表的样式
.history-list {
  max-height: 12rem;
  overflow-y: auto;

  .list-li {
    display: flex;
    line-height: 1.2rem;
    height: 1.2rem;
    color: #666;
    padding-left: .3rem;
    padding-right: .3rem;
    justify-content: space-between;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      right: 0;
      left: 0;
      bottom: 0;
      box-sizing: border-box;
      pointer-events: none;
      border-bottom: 1px solid #efefef;
      transform: scaleY(.5);
    }

    .li-red {
      color:#f60;
    }

  }
  
}

// 缺省展示的样式
.history-none {
  margin-top: 1.3rem;
  padding-top: 2.39rem;
  text-align: center;
  color: #999;
  background: url('https://mstatics.591.com.tw/v2/static/img/nr-bg-02.fe67921c.png') top no-repeat;
  background-size: 5.5rem 3rem;
}

</style>