
.flex(@orient: row,@alignItems: center,@justifyContent: center) {
  display: flex;
  flex-direction: @orient;
  align-items: @alignItems;
  justify-content: @justifyContent;
}

.fontSize(@fontSize:.3rem, @color: #131313){
	font-size: @fontSize;
	color:@color;
}
/*
 * @Author: Jeddy
 * @Desc: 箭头样式
 * @Example: .setArrow(32px, #666, 2px, -45deg)
 * params:{
   @size: 宽度大小,
   @color: 颜色,
   @width: 粗细,
   @deg: -45deg 向左箭头; 135deg 向右箭头; 45deg 向上箭头; -135deg 向下箭头
 }
 */
 .setArrow(@deg: -45deg, @size: 10px, @color: #5a5a5a, @width: 2px){
  content: ' ';
  display: inline-block;
  width: @size;
  height: @size;
  border-left: @width solid @color;
  border-top:@width solid @color;
  transform: rotate(@deg);
}